<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Contactos" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Tareas" tabIcon="list-box"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Citas" tabIcon="list-box"></ion-tab>
  <!--<ion-tab [root]="tab4Root" tabTitle="Salir" tabIcon="exit"></ion-tab>-->
</ion-tabs>
