<ion-header>
  <ion-navbar color="dark">
    <ion-title>{{ titulo }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label floating>Contacto</ion-label>
            <ion-select
            [(ngModel)]="cita.idContacto">
              <ion-option
              *ngFor="let contacto of contactos"
              [value]="contacto.idContacto">
                {{ contacto.nombre + " " + contacto.apellido }}
              </ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label floating>Titulo</ion-label>
            <ion-input type="text"
            name="titulo"
            [(ngModel)]="cita.titulo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Lugar</ion-label>
            <ion-input type="text"
            name="lugar"
            [(ngModel)]="cita.lugar"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Fecha</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY HH:mm"
            min="2017"
            max="2020-12-31"
            name="fecha"
            [(ngModel)]="cita.fecha"></ion-datetime>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <button ion-button full color="primary"
      (click)="guardar()">
        Guardar
      </button>
    </ion-row>
  </ion-grid>
</ion-content>
