<ion-header>
  <ion-navbar color="dark">
    <ion-title>{{ titulo }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label floating>Estado</ion-label>
            <ion-select
            [(ngModel)]="tarea.idEstado">
              <ion-option
              *ngFor="let estado of estados"
              [value]="estado.idEstado">
                {{estado.nombreEstado}}
              </ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label floating>Titulo</ion-label>
            <ion-input type="text"
            name="titulo"
            [(ngModel)]="tarea.titulo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Descripcion</ion-label>
            <ion-input type="text"
            name="descripcion"
            [(ngModel)]="tarea.descripcion"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Fecha de Finalizacion</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY HH:mm"
            min="2017"
            max="2020-12-31"
            name="fechaFin"
            [(ngModel)]="tarea.fechaFin"></ion-datetime>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <button ion-button full color="primary"
      (click)="guardar()">
        Guardar
      </button>
    </ion-row>
  </ion-grid>
</ion-content>
