<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      Tareas
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let tarea of tareas">
    <ion-card-content>
      <ion-card-title>
        {{ tarea.titulo }}
      </ion-card-title>
      <p>
        {{ tarea.fin }}
      </p>
    </ion-card-content>
    <ion-row no-padding>
      <ion-col text-center>
        <button ion-button clear small color="danger" icon-start
          (click)="verFormulario(tarea.idTarea)">
          <ion-icon name='information-circle'></ion-icon>
          Ver mas...
        </button>
      </ion-col>
        <ion-col text-right>
          <button ion-button clear small color="danger" icon-start
            (click)="borrarTarea(tarea.idTarea)">
            <ion-icon name='trash'></ion-icon>
            Eliminar
          </button>
        </ion-col>
    </ion-row>
  </ion-card>
  <ion-fab right bottom>
    <button ion-fab mini color="dark" (click)="verFormulario('nuevo')">
      <ion-icon name="md-add"></ion-icon>
    </button>
 </ion-fab>
</ion-content>
